<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Login Page</title>
	<style>
	#copyright {
		float: left;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		bottom: 0px;
		width: 100%;
		position: absolute;
	}
</style>
</head>
<body style="background-color:#e8effc">
	<form method="POST">
		<h3 align="center">Login</h3>
		<div align="center">
			<label for="email">Email Address: </label>
			<input type="email" name="email" id="email" maxlength="40" placeholder="Enter email"><br><br>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" maxlength="40" placeholder="Enter password"><br><br>
			<button type="submit">Login</button>
		</div>
	</form>
	<div id="copyright">
		Author: <b>Kaviya Mohan</b><br>
		Email: <a href="mailto:kaviyamohan01@gmail.com">kaviyamohan01@gmail.com</a>
	</div>	
</body>
</html>
